
:root,input{
  font-size: 18px;
}


header,main,footer,.action,.filters,.apply_button{
  display: flex;
}
header,.action{
  justify-content: space-around;
  margin: 5px 0;
}
.filter{
  position: relative;
}
.filters{
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  gap: 15px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.filters>form>div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
form input{
  padding: 4px;
  display: flex;
  align-self: stretch;
}
.filters h3{
  margin: 5px;
}
.filters>form>div.apply_button{
  justify-content: end;
}

main{
  justify-content: center;
}
footer{
  justify-content: flex-end;
  margin: 50px 50px 0 0;
}


button,th{
  padding: 5px;
}

td,input,th{
  width: 15vw;
  height: 15px;
}
input{
  margin:0;
  height: 65%;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* align-self: stretch; */
}



